# Ignore virtual environment folder(s)
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.sqlite3
*.log

# Environment variables / secret files
.env
